//output:../public/index.html
- var p1 = "Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. "

mixin article(img,title,content)
  .column.center
    img(src=img,class="ours-img")
    h2.ours-title=title
    p.ours-content=content
        
        
include header.pug.jade
  body
    .banner
      .space-between.pad
        img(src="img/logo1.png" alt="")
        img(src="img/logo2.png" alt="")
      h1 Quedan  #[strong.red 22]  días para el Mundial
    .post-banner #[strong.blanco Viaja] y acompaña nuestra #[strong.blanco Sele] en #[strong.blanco Rusia 2018]
    section.planes.gray
      .columns.banner2.pad2
        .column
          p.p1.mb Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique .
          input.input(type="text" placeholder="Cual es tu nombre")
          a.ver-planes Ver Planes
          .info.mt Nam dapibus nisl #[a.blanco info@sibocr.com] Aenean sollicitudin
        .column
          iframe(style="width:100%" height="315" src="https://www.youtube.com/embed/XGSy3_Czz8k")
    section.cities.gray
      .columns.pad
        .column
          img(src="img/cities/1.png" alt="")
          .flex-center
            label.subtitulo Moscú
        .column
          img(src="img/cities/2.png" alt="")
          .flex-center
            label.subtitulo San Petersburgo
        .column
          img(src="img/cities/3.png" alt="")
          .flex-center
            label.subtitulo Kaliningrado
    section.steps.gray
      .columns.pad
        .column
          .flex
            img.balon(src="img/balon.png" alt="")
            h2.sigue.mb Sigue a Costa Rica en el Mundial
          p.p2.mb Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. 
          p.small.mb * Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. 
          .precios Ver Precios
        .column.incluye
          .columns.is-fluid
            .column.flex-vertical
              img.incluye-img(src="img/voletos.png" alt="")
              label.l-incluye Voletos Aereos
            .column.flex-vertical
              img.incluye-img(src="img/translados.png" alt="")
              label.l-incluye Translados
            .column.flex-vertical
              img.incluye-img(src="img/alojamientos.png" alt="")
              label.l-incluye Alojamientos
            .column.flex-vertical
              img.incluye-img(src="img/desayunos.png" alt="")
              label.l-incluye Desayunos
          .columns.is-fluid
            .column.flex-vertical
              img.incluye-img(src="img/visitas.png" alt="")
              label.l-incluye Visitas guiadas
            .column.flex-vertical
              img.incluye-img(src="img/sim.png" alt="")
              label.l-incluye Sim Card
            .column.flex-vertical
              img.incluye-img(src="img/estadio.png" alt="")
              label.l-incluye Entrada al estadium
            .column
              
    
    section.cartas.gray.pt3em
      .columns.pad
        .column
          .carta.pad
            .flex
              img.img-carta(src="img/iglesia.png" alt="")
              .titulo-carta Partido Inagural
            p.p-carta #{p1}
            ul
              li #[span.li] &nbsp;&nbsp; Coki 1
              li #[span.li] &nbsp;&nbsp; Coki 2
              li #[span.li] &nbsp;&nbsp; Coki 3
              li #[span.li] &nbsp;&nbsp; Coki 4
              li #[span.li] &nbsp;&nbsp; Coki 5
            .precios Ver Precios
        .column
          .carta.pad
            .flex
              img.img-carta(src="img/muneca.png" alt="")
              .titulo-carta Semifinales
            p.p-carta #{p1}
            ul
              li #[span.li] &nbsp;&nbsp; Coki 1
              li #[span.li] &nbsp;&nbsp; Coki 2
              li #[span.li] &nbsp;&nbsp; Coki 3
              li #[span.li] &nbsp;&nbsp; Coki 4
              li #[span.li] &nbsp;&nbsp; Coki 5
            .precios Ver Precios
        .column
          .carta.pad
            .flex
              img.img-carta(src="img/torres.png" alt="")
              .titulo-carta Final
            p.p-carta #{p1}
            ul
              li #[span.li] &nbsp;&nbsp; Coki 1
              li #[span.li] &nbsp;&nbsp; Coki 2
              li #[span.li] &nbsp;&nbsp; Coki 3
              li #[span.li] &nbsp;&nbsp; Coki 4
              li #[span.li] &nbsp;&nbsp; Coki 5
            .precios Ver Precios
          
    footer.foot
      .columns.pad
        .column
          h1.mb Preguntas Frecuentes
          h2.mb ¿Puedo Pagar con Tarjeta de Credito?
          h2.mb In hac habitasse platea dictumst. Vivamus adipiscing fermentum 
          h2.mb Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, no
          h2.mb dum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
          h2.mb quam volutpat aliquam.n ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu biben
        .column
          h3.can.mb ¿Puedo Pagar con Tarjeta de Credito?
          p.mb.p-foot In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus pilisis accumsan turpis.
          p.mb.p-foot Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
          .center
            a.a-foot info@sivocr.com
            p.mb In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. I
        
    //include footer.pug.jade
    
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="js/index.js")
